<h2>Contact</h2>
<div class="inputs">
    <label for="">Name</label>
    <input placeholder="Your name" class="basic-input" type="text">
    <label for="">Email</label>
    <input placeholder="Your email" class="basic-input" type="text">
    <label for="">Subject</label>
    <input placeholder="What do you want to talk about?" class="basic-input" type="text">
    <label for="">Message</label>
    <input placeholder="Write your message here" class="message-input" type="text">
    <button class="primary-button" id="send-contact">Send</button>
</div>