<body>
  <div class="title-container">
    <h2 class="title">My projects</h2>
  </div>

  <!-- First Project -->

  <div class="slide">
    <div class="container">
      <div class="about-me-image">
        <img class="image" src="../../../assets/europe.png" alt="">
      </div>
      <div class="about-me-text">
        <div class="div">
          <h2>Semi-Automatic Classification System</h2>
          <h3>SACS</h3>
          <div class="separator"></div>
        </div>
        <div class="description">
          <p><span>Description: </span>Document classification for the European Commission using keywords extraction and taxonomy classification.</p>
          <p><span>Role: </span>I worked in a professional team as a Solutions Assistant at NTTDATA.</p>
          <p><span>Technologies: </span>Angular, Spring, Semantic Web...</p>
          <p><span>Duration: </span> +9 months.</p>
        </div>
        <button class="primary-button" id="sacs-button">Check code</button>
      </div>
    </div>
  </div>

  <!-- Second Project -->

  <div class="slide">
    <div class="container">
      <div class="about-me-image">
        <img class="image" src="../../../assets/extia.png" alt="">
      </div>
      <div class="about-me-text">
          <h2>Extia Hackathon Winner</h2>
        <div class="description">
          <p><span>Description: </span>Competition to develop a project in less than 24 hours to reduce our carbon footprint.</p>
          <p><span>Role: </span>I provided some ideas for the final application and worked as a app developer in the team.</p>
          <p><span>Technologies: </span>React Native, Figma</p>
          <p><span>Duration: </span> 24 hours.</p>
          <p><span>Group: </span> 5 people.</p>
        </div>
        <button class="primary-button">Check code</button>
      </div>
    </div>
  </div>

  <!-- Third project -->

  <div class="slide">
    <div class="container">
      <div class="about-me-image">
        <img class="image" src="../../../assets/bot.png" alt="">
      </div>
      <div class="about-me-text">
          <h2>Python Trading Bot</h2>
        <div class="description">
          <p><span>Description: </span>School project of coding a trading bot to make money in the crypto market.</p>
          <p><span>Role: </span>I designed the strategy with bollinger bands and worked as a developer.</p>
          <p><span>Technologies: </span>Python.</p>
          <p><span>Duration: </span> 3 weeks.</p>
          <p><span>Group: </span> 2 people.</p>
        </div>
        <button class="primary-button">Check code</button>
      </div>
    </div>
  </div>

  <!-- Fourth project -->

  <div class="slide">
    <div class="container">
      <div class="about-me-image">
        <img class="image" id="my_teams" src="../../../assets/eventbrite.png" alt="">
      </div>
      <div class="about-me-text">
          <h2>Eventbrite Technical Test</h2>
        <div class="description">
          <p><span>Description: </span>Create a landing page to display information about Eventbrite's website using API's.</p>
          <p><span>Role: </span>I completed the project succesfully. I passed to the next round.</p>
          <p><span>Technologies: </span>Vue JS.</p>
          <p><span>Duration: </span> 2 weeks.</p>
          <p><span>Group: </span> Individual.</p>
        </div>
        <button class="primary-button"><a href="https://github.com/ikerpacheco/Eventbrite_techtest.git">Check Code</a></button>
      </div>
    </div>
  </div>

  <!-- Fifth project -->

  <div class="slide">
    <div class="container">
      <div class="about-me-image">
        <img class="image" id="my_teams" src="../../../assets/teams.jpg" alt="">
      </div>
      <div class="about-me-text">
          <h2>Microsoft Teams Recreation</h2>
        <div class="description">
          <p><span>Description: </span>Recreate the functionality of my teams creating a FTP Server and a custom protocol.</p>
          <p><span>Role: </span>I created the protocol and mostly of the server.</p>
          <p><span>Technologies: </span>C.</p>
          <p><span>Duration: </span> 4 weeks.</p>
          <p><span>Group: </span> 2-3 people.</p>
        </div>
        <button class="primary-button">Check code</button>
      </div>
    </div>
  </div>
</body>