<div class="slide">
  <div class="container">
    <div class="about-me-image">
        <img class="image" src="../../../assets/european_commission.png" alt="">
    </div>
    <div class="about-me-text">
        <div class="div">
            <h2>Semi-Automatic System Classification</h2>
            <h3>SACS</h3>
            <div class="separator"></div>
        </div>
        <div class="description">
            <p><span>Description: </span>Document classification for the European Commission using keywords extraction and taxonomy classification.</p>
            <p><span>Role: </span>I worked in a professional team as a Solutions Assistant at NTTDATA.</p>
            <p><span>Technologies: </span>Angular, Spring, Semantic Web...</p>
            <p><span>Duration: </span> +9 months.</p>
        </div>
    </div>
  </div>
</div>
<div class="slide">
  <div class="container">
    <div class="about-me-image">
        <img class="image" src="../../../assets/programming.jpg" alt="">
    </div>
    <div class="about-me-text">
        <div class="div">
            <h2>About me</h2>
            <div class="separator"></div>
        </div>
        <div class="description">
            <p>My name is Iker and I am 20. I am a second year student of Software Development and IT. I worked 6 months as an intern in NTTDATA, a huge company. I have been able to complete a lot of projects, thanks to dedicating more than +1500 hours in
            development.
            </p>
        </div>
    </div>
  </div>
</div>
<!-- <div class="slide">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Projects</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Hello</p>
    </mat-card-content>
  </mat-card>
</div> -->