body {
    font-family: 'Poppins', sans-serif;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 5rem;
    font-size: 25px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 70rem;
    background-color: #fff;
    padding: 5rem 0;
}

h2:hover {
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.2s;
}

.image {
    height: 300px;
    border-radius: 15px;
    margin-left: 4rem;
}

a {
    color: #fff;
    text-decoration: none;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    width: 40%;
}

.description {
    font-weight: 300;
    text-align: justify;
    margin-top: 2rem;
}

.primary-button {
    margin-left: 67%;
}

#sacs-button {
    opacity: 0.6;
    cursor: not-allowed;
}
