<body>
  <div class="slide">
    <div class="container">
      <div class="about-me-image">
        <img class="image" src="../../../assets/european_commission.png" alt="">
      </div>
      <div class="about-me-text">
        <div class="div">
          <h2>Semi-Automatic System Classification</h2>
          <h3>SACS</h3>
          <div class="separator"></div>
        </div>
        <div class="description">
          <p><span>Description: </span>Document classification for the European Commission using keywords extraction and taxonomy classification.</p>
          <p><span>Role: </span>I worked in a professional team as a Solutions Assistant at NTTDATA.</p>
          <p><span>Technologies: </span>Angular, Spring, Semantic Web...</p>
          <p><span>Duration: </span> +9 months.</p>
        </div>
        <button class="primary-button">Check code</button>
      </div>
    </div>
  </div>
  <div class="slide">
    <div class="container">
      <div class="about-me-image">
        <img class="image" src="../../../assets/european_commission.png" alt="">
      </div>
      <div class="about-me-text">
        <div class="div">
          <h2>Semi-Automatic System Classification</h2>
          <h3>SACS</h3>
          <div class="separator"></div>
        </div>
        <div class="description">
          <p><span>Description: </span>Document classification for the European Commission using keywords extraction and taxonomy classification.</p>
          <p><span>Role: </span>I worked in a professional team as a Solutions Assistant at NTTDATA.</p>
          <p><span>Technologies: </span>Angular, Spring, Semantic Web...</p>
          <p><span>Duration: </span> +9 months.</p>
        </div>
        <button class="primary-button">Check code</button>
      </div>
    </div>
  </div>
</body>