body {
    background-color: #fafafa;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

span {
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}

span:hover {
    color: rgb(35, 35, 35);
}

h1 {
    color: rgb(58, 58, 58);
    font-size: 70px;
}

h2 {
    color: rgb(58, 58, 58);
}

p {
    color: rgb(104, 103, 103);
}

.primary-button {
    width: 150px;
    height: 40px;
    border-radius: 15px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.primary-button:hover {
    scale: 1.1;
    transition: 0.5s;
}

.primary-text-button {
    color: #fff;
    text-decoration: none;
}

.fp-overflow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fp-watermark {
    display: none;
}

.fp-prev {
    left: 18%;
}

.fp-next {
    right: 18%;
}

.fp-arrow.fp-prev {
    border-width: 19.25px 17px 19.25px 0;
    border-color: transparent var(--primary-color) transparent transparent !important;
}

/* .fp-arrow.fp-next {
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent transparent transparent #9fd71e !important;
} */

.fp-arrow.fp-next {
    border-width: 19.25px 0 19.25px 17px;
    border-color: transparent transparent transparent var(--primary-color);
}

.fp-slidesNav {
    display: flex;
    justify-content: center;
}

:root {
    --primary-color: rgb(1, 126, 251);
    --grey-color: #f2f2f2;
    --white-color: rgb(255, 255, 255);
    --dark-color: rgb(35, 35, 35);
    --black-color: rgb(29, 29, 29);
}

html, body { height: 100%; }
