<div class="container">
    <div class="about-me-image">
        <img class="programming" src="../../../assets/programming.jpg" alt="">
    </div>
    <div class="about-me-text">
        <div class="div">
            <h2>About me</h2>
            <div class="separator"></div>
        </div>
        <div class="description">
            <p>My name is Iker and I am 20. I am a second year student of Software Development and IT. I worked 6 months as an intern in NTTDATA, a huge company. I have been able to complete a lot of projects, thanks to dedicating more than +1500 hours in
                development.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="hard-skills">
        <img class="angular-logo" src="../../../assets/angular.png" alt="">
        <a href=""></a>
        <img class="language-logo" src="../../../assets/html.png" alt="">
        <a href=""></a>
        <img class="language-logo" src="../../../assets/css.png" alt="">
        <a href=""></a>
        <img class="js-logo" src="../../../assets/javascript.png" alt="">
        <a href=""></a>
        <img class="language-logo" src="../../../assets/typescript.png" alt="">
        <a href=""></a>
        <img class="react-logo" src="../../../assets/react.png" alt="">
        <a href=""></a>
        <img class="language-logo" src="../../../assets/c.png" alt="">
        <a href=""></a>
        <a href="https://www.python.org/"><img class="python-logo" src="../../../assets/python.png" alt=""></a>
    </div>
</div>