.linkedin-logo {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.presentation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.presentation-title {
    line-height: 5.5rem;
    margin-bottom: 0px;
    font-size: 4.5rem;
    font-weight: 700;
}

.presentation-text {
    width: 50%;
}

.subtitle {
    border-right: 2px solid;
    width: 66%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s, cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent
    }
    100% {
        border-right: none;
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

.presentation-title:hover {
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.5s;
}

.presentation-description {
    margin-top: 2rem;
    margin-bottom: 0;
    width: 70%;
}

h2 {
    color: var(--primary-color);
    font-size: 4rem;
    font-weight: 200;
}

h3 {
    color: var(--primary-color);
    font-weight: 200;
    font-size: 1.8rem;
    margin: 0px;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.stat {
    cursor: pointer;
    height: fit-content;
    width: 20%;
    display: flex;
    flex-direction: column;
    line-height: 0px;
    align-items: center;
    justify-content: center;
}

.stat:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.programming {
    height: 300px;
    border-radius: 50%;
}

.buttons {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
}

.separator {
    margin-left: 1rem;
}

.linkedin-img {
    width: 2.2rem;
    height: 2.2rem;
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 8px;
}

.linkedin-img:hover {
    scale: 1.2;
    transition: 0.5s;
}

.github-img {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 8px;
}

.github-img:hover {
    scale: 1.2;
    transition: 0.5s;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    height: 500px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.hi-img {
    width: 100%;
    height: 100%;
}

.hi-img:hover {
    cursor: pointer;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.down-arrow-img {
    width: 80px;
}

.down-arrow-img:hover {
    cursor: pointer;
    transition: 0.5s;
    scale: 1.2;
}