        <div class="presentation">
            <div class="presentation-text">
                <h1 class="presentation-title">Iker Pacheco</h1>
                <h3 class="subtitle">Front-End Angular Developer</h3>
                <p class="presentation-description">Hi, I am Iker Pacheco. A Software Development student passionate about web development.</p>
                <div class="buttons">
                    <button class="primary-button" ><a class="primary-text-button" href="https://media.licdn.com/dms/document/media/C4E1FAQEakPpJgjdmyw/feedshare-document-pdf-analyzed/0/1654703033398?e=1686787200&v=beta&t=kKO5Hnb8L_3f1X0x0_h4bNq6MaviM-4O_k8xHjRN1FA">Download CV</a></button>
                    <p class="separator">or</p>
                    <a href="https://www.linkedin.com/in/ikerpacheco/"><img class="linkedin-img" src="../../../assets/linkedin.png" alt=""></a>
                    <a href="https://github.com/ikerpacheco"><img class="github-img" src="../../../assets/github.png" alt=""></a>
                </div>
            </div>
            <div class="img-container">
                <img class="hi-img" [src]="'../../assets/' + images[currentImageIndex]" alt="">
            </div>
        </div>
        <div class="stats">
            <div class="stat">
                <h2 class="num" data-val="3000"></h2>
                <p>hours of programming</p>
            </div>
            <div class="stat">
                <h2 class="num" data-val="100"></h2>
                <p>projects completed</p>
            </div>
            <div class="stat">
                <h2 class="num" data-val="10"></h2>
                <p>months in NTTDATA</p>
            </div>
        </div>