<head>
  <title>Iker.dev</title>
</head>

<body>
  <div id="fullpage">
    <div class="section s1">
      <div class="top-container">
        <button (click)="enableDarkMode()">Dark mode</button>
        <app-navbar class="navbar"></app-navbar>
        <app-main class="main"></app-main>
      </div>
    </div>
    <div class="section s2">
        <app-about-me class="about-me"></app-about-me>
    </div>
    <div class="section" id="section3">
      <app-projects class="projects"></app-projects>
    </div>
    <div class="section" id="section4">
      <app-contact class="contact"></app-contact>
    </div>
  </div>
</body>