<head>
  <title>Iker.dev</title>
</head>

<body>
  <div id="fullpage">
    <div class="section s1">
      <div class="top-container">
        <app-navbar class="navbar"></app-navbar>
        <app-main class="main"></app-main>
      </div>
    </div>
    <div class="section s2">
      <div class="top-container">
        <app-about-me class="about-me"></app-about-me>
      </div>
    </div>
    <div class="section s3">
      <app-projects class="projects"></app-projects>
    </div>
    </div>
</body>